body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 4px solid #000;
  background-color: #fff;
}
